body {
  margin: 0px;
  font-family: "Poppins", sans-serif;
  height: 100vh;
  overflow: hidden;
}
.page {
  height: 100%;
}
.navbar {
  display: grid;
  background-color: #f9f3ee;
  grid-template-columns: auto 1fr auto;
  align-items: center;
}
.navbar .logo {
  width: 30px;
  height: 30px;
  background-color: white;
  padding: 5px;
  margin-left: 3%;
}

.navbar .logo img {
  width: 30px;
  height: 30px;
}
.nav-links {
  display: grid;
  grid-auto-flow: column;
  gap: clamp(1rem, 2vw, 2rem);
  justify-content: right;
  padding-right: 80px;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
  font-family: "Poppins", sans-serif;
}
.signup {
  background-color: #1e2b38;
  color: white;
  border-radius: 70px;
}
.login {
  background: none;
  border: none;
  outline: none;
  box-shadow: none;
  padding: 0;
  cursor: pointer;
}
h1 {
  font-size: 2.5rem;
  margin: 0%;
}
.main-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  margin-left: 3%;
}
.cards {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 20px;
}
.cards h3 {
  color: #1e2b38;
}

.card {
  background-color: #f9f3ee;
  padding: 10px;
  border-radius: 120px 120px 20px 20px;
  display: grid;
  align-items: center;
}
.card-info {
  text-align: center;
}

.card-info h3 {
  margin: 0.2rem 0 0.2rem;
  font-weight: bold;
}

.card-info p {
  margin: 0;
  font-size: 0.9rem;
  color: #666;
}
.card .card-price {
  text-align: center;
  font-size: 1.2rem;
  font-weight: bold;
  color: goldenrod;
  padding-bottom: 0%;
  background-color: brown;
  border-radius: 120px 120px 20px 20px;
}
.card img {
  width: 100%;
}
.main-container .main-mid {
  justify-self: center;
  align-self: center;
}
.main-container .class-start-wrapper {
  display: grid;
  grid-template-columns: 3fr auto;
  align-items: center;
  gap: 1rem;
}
.start-button {
  place-self: center;
  font-size: 1rem;
  padding: 0% 1rem;
  display: grid;
  grid-auto-flow: column; 
  align-items: center; 
  gap: 0.5rem;
  padding: clamp(0.6rem, 1vw, 1rem) clamp(1.5rem, 3vw, 3rem);
  font-size: clamp(0.9rem, 1.2vw, 1.1rem);
  border-radius: 999px;
  border: 2px solid #d4b36a;
  background: #1f2b3a;
  color: #f2d38a;

  cursor: pointer;
}
.main-left{
    padding-top: 0%;
    margin-top: 0%;
}
.main-container .main-left h2, h1 {
  padding-top: 0%;
  padding-bottom: 0%;
  margin: 0%;
  /* font-family: "Playfair Display", serif;
  font-style: italic; */
}


.main-right {
  width: 100%;
  max-width: 500px;
}
.stone {

    top: 4rem;
    position: absolute;
    right: 32rem;
}
.stone img {
  width: 10rem;
  height: 10rem;
}

.hand img {
  width: 35rem;
  height: 35rem;
}
.barcode img {
  width: 35rem;
  height: 5rem;
  position: absolute;
  z-index: 10;
  bottom: 12.7rem;
}

footer {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 0.7rem;
  padding: 1rem;
}
.star-img {
  width: 1.8rem;
  height: 1.8rem;
  margin-left: 1rem;
}
footer span {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
}
footer > div {
  display: grid;
  grid-auto-flow: column; 
  align-items: center; 
  justify-content: center; 
  gap: 0.5rem;
}
.unlock {
  font-size: 3rem;
  font-family: "Cookie", cursive;
  font-style: italic;
  background: linear-gradient(90deg, #5a2d52, #9c6b85, #d08b5b, #e8a57d);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0%;
}

.digital {
  margin-bottom: 0%;
  font-size: 2.8rem;
    color: #1e2b38;

}
.renaissance {
  font-size: 2.8rem;
  color: #1e2b38;
}
.description {
  
  margin:1rem !important

}